:root {
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);

    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;


    --clr1: rgb(96, 107, 91);
    --clr2: rgb(120, 99, 110);

    --clr1bg: rgb(153, 166, 149);
    --clr1bg-light: rgb(205, 221, 200);

    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(253, 236, 246);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);

}