.color-picker-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
}

.note-color-picker {
    position: absolute;
    z-index: 1000;

    display: flex;
    gap: 0.7em;

    border: 1px solid rgb(221, 220, 220);
    border-radius: 5px;
    padding: 1em;
    background-color: white;
}

.picker-option {
    display: none;
}

.color-picker form {
    display: flex;

    gap: 0.2em
}

.color-picker-label {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
}

.color-picker-label:has(.picker-option.empty) {
    outline: solid 2px rgb(178, 178, 178);
}

.color-picker-label.empty {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.1em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: 2px solid rgb(169, 165, 165);
}

.color-picker-label:hover {
    outline: solid 2px black;
}

.color-picker-label:has(+ .picker-option:checked) {
    outline: solid 2px rgb(161, 66, 244);
}

.color-picker-label .picker-option:not(.empty) {
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    background-color: rgb(161, 66, 244);
    padding: 0.1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: none;
}




.color-picker-label:has(+ .note-todo-checkbox:checked) {
    outline: solid 2px rgb(161, 66, 244);
}

.color-picker label:has(+ .note-todo-checkbox:checked) .picker-option:not(.empty) {
    display: unset;
}


.color-picker-label {
    display: grid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}