.note-content {
    align-items: start;
    display: grid;

    /* overflow: scroll; */
}
.note-preview{
    grid-row:1/2;
    overflow:clip
}
audio {
    width: 250px;
}

figure {
    margin: 0;
}

.color-picker {
    z-index: 100;
    position: absolute;
    bottom: 1px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 5px;
    break-inside: avoid;

}

.note-toolbar{
    grid-row:2/3
}


.todo-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    align-items: center;
}

.note-todo-txt:has(+ .note-todo-checkbox:checked)
.note-txt:has(+ .note-todo-checkbox:checked),
input:has(+ .note-todo-checkbox:checked) {
    text-decoration: line-through;

}

.note-txt:focus,
.note-title:focus {
    outline: none;
}

.note-txt,
.note-title {
    border: none;
    field-sizing: content;
    resize: none;
    font-family: roboto;

}

.note-title {
    color: rgb(32, 33, 36);
    border: none;
    font-weight: 400;
    font-size: 1.25rem;
}
.note-todo-checkbox{
    display: none;
}
.note-todo-checkbox {
    appearance: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    border: 2px solid black;
}



.note-todo-checkbox:checked::before {
    display: grid;
    justify-self: center;
}

.note-media {
    justify-self: center;
}

.note-todo-txt{
    border: none;
    background-color: transparent;
}