.note-content {
    align-items: start;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}

audio {
    width: 250px;
}

figure {
    margin: 0;
}

.color-picker {
    z-index: 100;
    position: absolute;
    bottom: 1px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 5px;
    break-inside: avoid;

}

.color-picker note-todo-checkbox {
    display: none;
}

.color-picker form {
    display: flex;
    gap: 0.2em
}

.color-picker-label {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
}

.color-picker-label:has(.picker-option.empty) {
    outline: solid 2px rgb(178, 178, 178);
}

.color-picker-label .picker-option.empty {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    color: black;
}

.color-picker-label:has(.picker-option):hover {
    outline: solid 2px black;
}

.color-picker-label:has(.picker-option):has(+ .note-todo-checkbox:checked) {
    outline: solid 2px rgb(161, 66, 244);
}

.color-picker-label .picker-option:not(.empty) {
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    background-color: rgb(161, 66, 244);
    padding: 0.1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: none;
}




.color-picker-label:has(+ .note-todo-checkbox:checked) {
    outline: solid 2px rgb(161, 66, 244);
}

.color-picker label:has(+ .note-todo-checkbox:checked) .picker-option:not(.empty) {
    display: unset;
}


.color-picker-label {
    display: grid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.todo-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    align-items: center;
}

.note-txt:has(+ .note-todo-checkbox:checked),
input:has(+ .note-todo-checkbox:checked) {
    text-decoration: line-through;

}

.note-txt:focus,
.note-title:focus {
    outline: none;
}

.note-txt,
.note-title {
    border: none;
    field-sizing: content;
    resize: none;

}

.note-title {
    border: none;
    font-weight: 700;
    font-size: 1.25em;
}

.note-todo-checkbox {
    appearance: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    border: 2px solid black;
}

.note-todo-checkbox::before {
    content: "✓";
    display: none;
}

.note-todo-checkbox:checked::before {
    display: grid;
    justify-self: center;
}